.patient-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-card__info {
  display: flex;
  justify-content: space-between;
}

.ant-image-img {
  border-radius: 20px;
}

.ant-descriptions {
  width: 40vw;
}

.ant-descriptions-view {
  overflow: auto;
}

.patient-card__divider {
  background-color: #F5F5F5;
  height: 15vh;
  width: 5px;
  border-radius: 10px;
}

.patient-card__diagnosis-result {
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.patient-card__diagnosis-result > * > h3{
  font-weight: bold;
  margin: 0;
}

.patient-card__diagnosis-result > * > h2{
  margin: 0;
}

.patient-card__diagnosis-result > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}