.video-item {
  width: 97%;
  border-top: 0.5px solid #E8E8E8;
  border-bottom: 0.5px solid #E8E8E8;
  padding: 10px 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.video-item:hover {
  background-color: #F8F8F8;
}

.selected {
  background-color: #0066b2;
}

.selected:hover {
  background-color: #0066b2;
}

.selected > h4 {
  color: white ;
}

.video-item > h4 {
  margin: 0;
}

.video-item__button {
  color: #096dd9;
  background: #e6f7ff;
  border-color: #91d5ff;
  font-size: small;
}
