.title-bar {
  height: 35px;
  background-color: #18193f;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.title-bar__icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.title-bar__title {
  margin-bottom: 0;
  font-weight: bold;
}

.title-bar__controls {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.title-bar__controls__minimize, .title-bar__controls__maximize, .title-bar__controls__close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35px;
  text-align: center;
  -webkit-app-region: no-drag;
}

.title-bar__controls__minimize:hover, .title-bar__controls__maximize:hover {
  background-color: #5e61ca;
  color: white;
}

.title-bar__controls__close:hover {
  background-color: red;
  color: white;
}